:root {
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: "Playfair Display", serif;
  --paragraph-font-family: "Poppins", sans-serif;
}

body {
  margin-top: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  margin: 0;
  font-weight: bold;
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 96px !important;
}

h2 {
  font-size: 64px !important;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 48px !important;
}

p {
  font-size: 16px;
  line-height: 30px;
  font-family: var(--paragraph-font-family);
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  border-radius: 4px;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  font-size: 18px;
  line-height: 27px;
}

.secondary-link {
  border-radius: 4px;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.hero {
  background-color: #f9f7fe;
  text-align: center;
  padding: 160px 20px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 96px;
}

.hero h2 {
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.hero h3 {
  color: #272142;
}

.hero p {
  font-size: 36px;
  margin: 0;
}

.about-section {
  padding: 160px 20px;
}

.about-section h1 {
  font-size: 64px !important;
  line-height: 80px;
}

.about-section h2 {
  font-size: 18px !important;
  font-family: var(--paragraph-font-family);
}

.about-section-content {
  margin: 30px;
}

footer {
  margin: 60px 0;
  padding: 67px 213px;
}

footer .email-link {
  font-family: var(--paragraph-font-family);
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 500;
}

footer .email-link:hover {
  color: var(--primary-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .primary-link a {
  border: 18px 30px;
  gap: 10px;
  margin-top: 71px;
}

footer .social-links a:hover {
  color: white;
  background: var(--primary-color);
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

@media (max-width: 576px) {
  h2 {
    font-size: 44px !important;
  }

  h4 {
    font-size: 26px;
  }

  .hero p {
    font-size: 20px;
  }
  .mb-3 {
    text-align: center;
    font-size: 25px !important;
  }

  .hp-des {
    text-align: center;
  }

  .hp-images {
    display: none;
  }

  .primary-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }

  .my-name {
    font-size: 30px !important;
  }

  .email-link {
    font-size: 20px !important;
  }

  .about-heading {
    font-size: 40px !important;
  }

  body {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .about-section {
    text-align: center;
    padding: 0;
  }

  .about-section-content h1 {
    font-size: 44px;
    line-height: 56px;
  }
}
